.site-container {
    background: #ffffff;
    border-radius: 10px;
    margin: 1.125rem auto;
    padding: 1.125rem;
    max-width: 70.875rem;

    .site-content {
        margin: 1.125rem 0;
        
        .left-sidebar {
            
            .content-area {     
                float: left;
                width: 70.54673721%;
            }

            .widget-area {
                
                float: right;
                width: 26.27865961%;
            }
        }
    }
}