.content-area {

    .entry {
        
        &__header {

        }

        &__title {
            margin: 0;
            padding: 0;
        }

        &__metadata {
            font-size: 14px;
        }
    }
}